.root {
    -fx-background-color: #212226; 
}

.anchor-pane {
    -fx-background-color: #212226; 
}
.text-title {
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #5982FC  ; 
}
.text-normal {
    -fx-font-family: "Segoe UI";
    -fx-fill: #5982FC; 

}
.text-header {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 20px;
    -fx-fill: #5982FC  ;
}
.text-field {
    -fx-background-color: #353535; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-size: 12px; 
}

.button {
    -fx-background-color: #5982FC; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-size: 14px; 
}

.button:hover {
    -fx-translate-y: -2px;
}

.list-view {
    -fx-background-color: #353535; 
    -fx-text-fill: #FFFFFF; 
}

.list-view .list-cell:odd {
    -fx-background-color: #242424; 
    -fx-text-fill: #FFFFFF; 
}
.list-view .list-cell:even {
    -fx-background-color: #272525; 
    -fx-text-fill: #FFFFFF; 
}
.list-view .list-cell:selected {
    -fx-background-color: #2E4583; 
    -fx-text-fill: #FFFFFF; 
}

.checkbox {
    -fx-background-color: #293556;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #2E4583;
}

.checkbox:selected {
    -fx-background-color: #3E60C1; 
    -fx-text-fill: #FFFFFF; 
    -fx-border-color: #5982FC; 
}

.choice-box:selected {
    -fx-background-color: #3E60C1; 
    -fx-text-fill: #FFFFFF; 
    -fx-border-color: #5982FC; 
}
.choice-box {
    -fx-background-color: #293556; 
    -fx-text-fill: #FFFFFF; 
    -fx-border-color: #2E4583; 
}

